
<app-load-board-form (searchAction)="onSearch($event)" [mode]="mode"></app-load-board-form>

<div class="mb-3"></div>

<app-load-board-results [shipmentSearchResponse]="shipmentSearchResponse" (shipmentSelected)="onShipmentSelected($event)" *ngIf="shipmentSearchResponse"></app-load-board-results>

<div class="row" *ngIf="searchPercentComplete != null">
  <div class="offset-3 col-md-6">
    <progressbar max="100" [value]="searchPercentComplete" [animate]="true">
      <span *ngIf="searchPercentComplete > 10"><i>{{searchPercentComplete}}%</i></span>
    </progressbar>
  </div>
</div>

<app-shipment-details #shipmentDetailsComponent [shipmentSearchResponse]="shipmentSearchResponse"></app-shipment-details>
