<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#" routerLink="/home">Trader</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a></li>-->
      <li class="nav-item" *ngIf="isAuthenticated()"><a class="nav-link" routerLinkActive="active" [routerLink]="['/load-board']" [queryParams]="{mode: 'Region'}">Region</a></li>
      <li class="nav-item" *ngIf="isAuthenticated()"><a class="nav-link" routerLinkActive="active" [routerLink]="['/load-board']" [queryParams]="{mode: 'Station'}">Station</a></li>
      <li class="nav-item" *ngIf="isAuthenticated()"><a class="nav-link" routerLinkActive="active" routerLink="/analysis">Analysis</a></li>
    </ul>
  </div>

  <span class="navbar-text mr-2" *ngIf="isAuthenticated()">
    {{currentUser.name}}
  </span>

  <span class="navbar-text" *ngIf="isAuthenticated()">
    <button class="btn btn-sm btn-outline-light" (click)="onLogout()">Logout</button>
  </span>

</nav>

<main role="main" class="container-fluid">
  <router-outlet></router-outlet>
</main>


