
<table class="table table-bordered table-sm table-hover">
  <thead class="thead-dark">
    <tr>
      <th class="text-left">Pickup</th>
      <th class="text-left">Product</th>
      <th class="text-right">Pickups</th>
      <th class="text-right">Deliveries</th>
      <th class="text-right">Purchase Cost</th>
      <th class="text-right">Sale Amount</th>
      <th class="text-right">Jumps</th>
      <th class="text-right">Profit per Jump</th>
      <th class="text-right" *ngIf="shipmentSearchResponse.loadSearchRequest.daysToSellAvailable">Max Days to Sell</th>
      <th class="text-right">Total Profit</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let shipment of shipmentSearchResponse.shipmentList" (click)="onShipmentSelected(shipment)">
      <td class="text-right">{{shipment.pickupJumpNumber | number:'1.0' }}</td>
      <td class="text-left">{{shipment.unitLoadList[0].productName}}</td>  <!-- TODO: should be the set of product names when evolves to having multiple products -->
      <td class="text-right">{{shipment.unitLoadList.length | number:'1.0' }}</td>
      <td class="text-right">{{shipment.unitSaleList.length | number:'1.0' }}</td>
      <td class="text-right">{{shipment.totalPurchaseCost | number:'1.2-2' }}</td>
      <td class="text-right">{{shipment.totalSaleAmount| number:'1.2-2' }}</td>
      <td class="text-right">{{shipment.numberOfJumps | number:'1.0' }}</td>
      <td class="text-right">{{shipment.profitPerJump | number:'1.2-2' }}</td>
      <td class="text-right" *ngIf="shipmentSearchResponse.loadSearchRequest.daysToSellAvailable">{{shipment.maxDaysToSell | number:'1.1-1' }}</td>
      <td class="text-right">{{shipment.totalProfit | number:'1.2-2' }}</td>
    </tr>
  </tbody>
</table>
