<div bsModal #shipmentDetailsModal="bs-modal" class="modal fade" role="dialog" *ngIf="shipmentSearchResponse">
  <div class="modal-dialog modal-xl" *ngIf="shipment">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Shipment details</h5>
        <button type="button" class="close" (click)="onClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="row">
          <div class="col-md-6">
            <h5>Pickup</h5>
            <table class="table table-bordered table-sm">
              <thead class="thead-dark">
              <tr>
                <th>Product</th>
                <th>From</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let unitLoad of shipment.unitLoadList">
                <td>{{unitLoad.productName}}</td>
                <td>{{unitLoad.fromLocationName}}</td>
                <td class="text-right">{{unitLoad.quantity}} / {{unitLoad.availableQuantity}}</td>
                <td class="text-right">{{unitLoad.purchasePrice | number:'1.2-2'}}</td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="3">Total Purchase Cost</td>
                <td class="text-right">{{shipment.totalPurchaseCost | number:'1.2-2'}}</td>
              </tr>
              </tfoot>
            </table>
          </div>

          <div class="col-md-6">
            <h5>Delivery</h5>
            <table class="table table-bordered table-sm mb-3">
              <thead class="thead-dark">
                <tr>
                  <th>Product</th>
                  <th>To</th>
                  <th>Quantity</th>
                  <th *ngIf="shipmentSearchResponse.loadSearchRequest.daysToSellAvailable">Days</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let unitSale of shipment.unitSaleList">
                  <td>{{unitSale.productName}}</td>
                  <td>{{unitSale.toLocationName}}</td>
                  <td class="text-right">{{unitSale.saleQuantity}} / {{unitSale.availableQuantity}}</td>
                  <td class="text-right" *ngIf="shipmentSearchResponse.loadSearchRequest.daysToSellAvailable">{{unitSale.daysToSell | number:'1.1-1'}}</td>
                  <td class="text-right">{{unitSale.salePrice | number:'1.2-2'}}</td>
                </tr>
              </tbody>
              <tfoot>
              <tr>
                <td [attr.colspan]="shipmentSearchResponse.loadSearchRequest.daysToSellAvailable ? 4 : 3">Total Sale Amount</td>
                <td class="text-right">{{shipment.totalSaleAmount | number:'1.2-2'}}</td>
              </tr>
              <tr>
                <td [attr.colspan]="shipmentSearchResponse.loadSearchRequest.daysToSellAvailable ? 4 : 3">Total Profit</td>
                <td class="text-right">{{shipment.totalProfit | number:'1.2-2'}}</td>
              </tr>
              </tfoot>
            </table>

          </div>
        </div>

        <div class="row">
          <app-route-details [systemRouteList]="shipment.systemRouteList"></app-route-details>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onClose()">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>

