<div class="row" *ngIf="regionNames">
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pickup</h5>

        <form novalidate autocomplete="off">

          <div class="form-row mb-2">
            <div class="col-md-8" *ngIf="mode === 'Station'">
              <label for="fromLocation">From Station</label>
              <input class="form-control" id="fromLocation"
                     [(ngModel)]="loadSearchRequest.fromLocationName"
                     [typeahead]="stations"
                     (typeaheadOnSelect)="onFromLocationSelected($event)"
                     typeaheadOptionField="stationName" name="fromLocationName">
            </div>

            <div class="col-md-8" *ngIf="mode === 'Region'">
              <label for="fromRegion">From Region</label>
              <input class="form-control" id="fromRegion"
                     [(ngModel)]="loadSearchRequest.fromRegionName"
                     [typeahead]="regionNames"
                     (typeaheadOnSelect)="onFromRegionSelected($event)"
                     typeaheadOptionField="name" name="fromRegionName">
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-4">
              <label for="shipCapacity">Ship Capacity (m3)</label>
              <input class="form-control" id="shipCapacity" type="number" [(ngModel)]="loadSearchRequest.shipCapacity" name="shipCapacity">
            </div>

            <div class="col-md-4">
              <label for="iskLimit">ISK Limit</label>
              <input class="form-control" id="iskLimit" type="number" [(ngModel)]="loadSearchRequest.iskLimit" name="iskLimit">
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Delivery</h5>

        <form novalidate autocomplete="off">
          <div class="form-row mb-2">
            <div class="col-md-8" *ngIf="mode === 'Station'">
              <label for="toLocation">To Station</label>
              <input class="form-control" id="toLocation"
                     [(ngModel)]="loadSearchRequest.toLocationName"
                     [typeahead]="stations"
                     (typeaheadOnSelect)="onToLocationSelected($event)"
                     typeaheadOptionField="stationName" name="toLocationName">
            </div>

            <div class="col-md-8" *ngIf="mode === 'Region'">
              <label for="toRegion">To Region</label>
              <input class="form-control" id="toRegion"
                     [(ngModel)]="loadSearchRequest.toRegionName"
                     [typeahead]="regionNames"
                     (typeaheadOnSelect)="onToRegionSelected($event)"
                     typeaheadOptionField="name" name="toRegion">
            </div>

            <div class="col-md-4">
              <label for="sellingStrategySelect">Selling Strategy</label>
              <select class="form-control" id="sellingStrategySelect" name="sellingStrategySelect" [(ngModel)]="loadSearchRequest.strategy">
                <option *ngFor="let option of sellingStrategyOptions" [ngValue]="option">{{option}}</option>
              </select>
            </div>
          </div>

          <div class="form-row">
          </div>

        </form>

      </div>
    </div>
  </div>
  <div class="col-md-2">
    <button class="btn btn-primary btn-block" (click)="onSearch()">Search</button>
    <button class="btn btn-secondary btn-block" (click)="onReset()">Reset</button>
  </div>
</div>

