


<div class="row">
  <div class="col-md-2">
    <button class="btn btn-primary" (click)="onStartJob()">Start Job</button>
  </div>
  <div class="col-md-6" *ngIf="jobComplete != null">
    <progressbar max="100" [value]="jobComplete" [animate]="true">
      <span *ngIf="jobComplete > 10"><i>{{jobComplete}}%</i></span>
    </progressbar>
  </div>
</div>
